.App {
  /* text-align: center; */
  background-color: #7ec8fa;
  background-attachment: fixed;
	background-size: cover;
  background-position: bottom;
  background-image: url('https://i.imgur.com/rt7ksDu.jpg');
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #00000069;
  /* opacity: 52%; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-about {
  background-color: #edecffdb;;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #030e2b;
  /* opacity: 90%; */
}

.App-projects {
  /* background-color: #8682ff; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-connect {
  background-color: #ffe0eddb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #68003d;
}

.footer {
  background: #151515;
  padding: 60px 0;
  text-align: center;
  color: #61d9fa;
}

.App-link {
  color: #61d9fa;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.side-by-side {
  display: flex;
  margin-right: 15px;
  margin-left: 15px;
  /* flex-wrap: wrap; */
}

.about {
  /* padding: 0 2%; */
  /* padding: 0px 6% 0% 3%; */
  flex: 1;
  font-size: initial;
  box-shadow: 0 0 10px rgb(53 94 182);
  padding: 9px 7% 6% 8%;
}

.about2 {
  font-size: initial;
  padding-left: 5%;
}

.interests {
  padding: 0px 6% 0% 3%;
  font-size: initial;
}

.name {
  text-shadow: 3px 3px 2px #000000;
  box-shadow: inset 0px 0px 0px 100px #ff005385;
  font-size: xxx-large;
}

.name-contour {
  box-shadow: 0px 0px 64px 43px #ff00538c;
}


.board {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
    height: 200px;
    position: absolute;
    transform: rotate(-21deg);
    /* border: 1px solid black; */
    right: 5%;
    top: 75%;
}

.cell {
  width: 66px;
  height: 66px;
  border: 1px solid rgb(229 141 139 / 61%);
  font-size: 4em;
  text-align: center;
  line-height: 90px;
  cursor: pointer;
}